@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F2DCC2;
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'Fuzzy Bubbles', cursive;
}
h1{
    color: #BF300F;;
    margin: 1.75rem auto 0.75rem auto;
    font-size: 5rem;
    max-width: 50%;
    text-transform: uppercase;
    text-align: center;
}
#bingo-board-container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(15, 1fr);
    border: 2px solid #BF300F;
}
#play-button{
    display: block;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: xx-large;
    border: 3px solid rgba(255, 255, 0, 0.4);
    border-radius:  3% 10% 3% 10%;
    margin: 0.5rem auto 1rem auto;
    width: 10rem;
    height: 5rem;
    background-color: #BF300F;
    color: rgba(255, 255, 0, 0.9);
}
#play-button:hover{
    opacity: 0.85;
}
#play-button:active{
    opacity: 0.4;
}
.cell{
    border-radius: 3% 10% 3% 10%;
    display: inline-block;
    min-height: 4rem;
    border: 2px solid #BF300F;
    padding-top: 1rem;
    text-align: center;
    font-size: x-large;
    opacity: 0.85;
}
.winningNumber{
    color: #BF300F;
    background-color: rgba(255, 255, 0, 0.4);
    animation-duration: 0.8s;
    animation: select 0.15s 2;
}
@keyframes select {
    0% {background-color: rgba(255, 255, 0, 0.4);}
    50% {background-color: #BF300F;}
    100% {background-color: rgba(255, 255, 0, 0.4);}
}
#player-board{
    gap: 0.125rem;
    margin: 0 1.125rem;
    width: clamp(17.5%, 20vw, 40%);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.player-cell{
    width: 100%;
    display: grid;
    place-items: center;
    color: #BF300F;
    border-radius: 3% 10% 3% 10%;
    border: 2px solid black;
    min-height: 2rem;
}
.free{
    background-color: #BF300F;
    color: rgba(255, 255, 0, 0.9);
}
.player-section{
    padding: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
}